{% extends "base.html.twig" %}

{% block body %}
    <div class="hero bg-base-200 min-h-screen flex flex-col gap-5 justify-center
">
        <div class="indicator">
            <span class="indicator-item badge badge-secondary">{{ category.title }}</span>
            <h1>{{ challenge.title }}</h1>
        </div>
        <p>{{ challenge.description }}</p>

        {%  if form is not null %}
            {{ form(form) }}
        {% endif %}
    </div>

{% endblock %}
